.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png");
  background-size: cover;
  height: 100vh;
}
.card-container {
  background-color: #ffff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #eaebed;
  width: 80%;
  border-radius: 16px;
  border: 1px solid #ffff;
}

.heading {
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 900;
  background-image: url("https://www.google.com/imgres?q=sachin%20tendulkar&imgurl=https%3A%2F%2Fstatic.toiimg.com%2Fphoto%2F101518176%2F101518176.jpg&imgrefurl=https%3A%2F%2Ftimesofindia.indiatimes.com%2Fsports%2Fweb-stories%2Freliving-sachin-tendulkars-best-world-cup-knocks%2Fphotostory%2F101517951.cms&docid=Z0-HM_5eb_xw3M&tbnid=3vPjTk7_8WKDIM&vet=12ahUKEwiyjceetOaHAxWRzTgGHfbeArIQM3oECBYQAA..i&w=900&h=1600&hcb=2&ved=2ahUKEwiyjceetOaHAxWRzTgGHfbeArIQM3oECBYQAA");

  -webkit-background-filter: text;
  -webkit-text-color: transparent;
}

.button{
    background-color: rgb(40, 240, 240);
    padding: 16px;
    font-size: 19px;
    border: none;
    border-radius: 9px;
}
.count{
    font-size: 50px;
    font-weight: 900;
}